[defaults]
inventory = ./inventory.ini
remote_user = root
retry_files_enabled = false
nocows = true

log_path = $HOME/.ansible/ansible_vortrag.log

forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = $HOME/.ansible/facts

interpreter_python = /usr/bin/python3

[ssh_connection]
control_path = %(directory)s/%%h-%%r-%%p
ssh_args = -o StrictHostKeyChecking=accept-new -o ControlMaster=auto -o ControlPersist=600s
pipelining = true
retries = 10
